body p {
	margin-bottom: 0.5%;
}
body h2 {
	margin-bottom: 1%;
}
body li {
	margin-left: 2%;
	margin-top: 0.5%;
}
.footer_page {
	padding: 2% 0;
	color: #fff;
}
.what__do__list a {
	text-decoration: none;
	color: #fff;
}
.what__do__list a:hover {
	color: #fff;
	text-decoration: underline;
}
.about_design {
	padding: 2% 0;
}
.img_1_design {
	background-image: url(../img/red_circle.svg);
	background-position: 95% 5%;
	background-repeat: no-repeat;
	background-size: 10%;
}
.img_2_design {
	background-image: url(../img/red_circle.svg);
	background-position: 75% 10%;
	background-repeat: no-repeat;
	background-size: 7%;
}
.stages {
	padding: 2% 0 0.5% 0;
	background-color: #000;
	color: #fff;
}
.st_b {
	font-weight: 600;
}
.stages_2 {
	padding: 0.5% 0 2% 0;
}
.img_3_design {
	background-image: url(../img/red_circle.svg);
	background-position: 95% 10%;
	background-repeat: no-repeat;
	background-size: 10%;
}
.img_4_design {
	background-image: url(../img/red_circle.svg);
	background-position: 60% 90%;
	background-repeat: no-repeat;
	background-size: 7%;
}
.img_5_design {
	background-image: url(../img/red_circle.svg);
	background-position: 90% 5%;
	background-repeat: no-repeat;
	background-size: 15%;
}
.img_6_design {
	background-image: url(../img/red_circle.svg);
	background-position: 40% 90%;
	background-repeat: no-repeat;
	background-size: 5%;
}
.img_7_design {
	background-image: url(../img/red_circle.svg);
	background-position: 5% 5%;
	background-repeat: no-repeat;
	background-size: 5%;
}
.services {
	padding: 2% 0;
	background-color: #000;
	color: #fff;
}
.serv_text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.serv {
	width: 30%;
	padding: 2%;
	border: 1px solid red;
	margin: 1%;
}
.serv h3 {
	margin-top: 1%;
	margin-bottom: 1%;
}
.l-ch {
	margin-top: 1%;
}
.price {
	font-weight: 600;
	text-align: center;
	margin-top: 4%;
	font-size: 17px;
}
.what__do {
	background-color: #fff;
}
.what__do__item {
	border-top: 1px solid #000;
}
.what__do__list a, .what__do__title {
	color: #000;
}
.what__do__list a:hover {
	color: #000;
}
.img_8_design {
	background-image: url(../img/red_circle.svg);
	background-position: 7% 60%;
	background-repeat: no-repeat;
	background-size: 10%;
}
.img_9_design {
	background-image: url(../img/red_circle.svg);
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 7%;
}
@media screen and (max-width:900px) {
	.serv {
		width: 45%;
	}
}
@media screen and (max-width:800px) {
	.footer_page {
		padding: 2% 0 5% 0;
	}
	.footer__menu__link__politic {
		display: none;
	}
}
@media screen and (max-width:768px) {
	.footer__menu a {
		font-size: 11px;
	}
	body p, body li, .price {
		font-size: 14px;
	}
	body h1, .js__title__animate span {
		font-size: 22px;
	}
	body h2 {
		font-size: 20px;
	}
	body h3, .what__do__item__text {
		font-size: 17px;
	}
}
@media screen and (max-width:700px) {
	body li {
		margin-left: 5%;
	}
}

@media screen and (max-width:530px) {
	body p, body li, .price {
		font-size: 12px;
	}
	body h1 {
		font-size: 20px;
	}
	body h2 {
		font-size: 18px;
	}
	body h3, .what__do__item__text {
		font-size: 15px;
	}
}
@media screen and (max-width:450px) {
	body li {
		margin-left: 10%;
	}
}